NODE_ENV=production
API_URL=https://localhost:8080
INVITATION_VIA_EMAIL=false
GOOGLE_TRACKING_ID=
GOOGLE_KEY=
CLOUD_VERSION=false
ENABLE_SSO=false
OAUTH2_PROVIDER=
LOGO_PATHS=
CUSTOM_COLORS=
BRAND_CONFIG=
DEMO_LINK=
PADDLE_SECRET_TOKEN=
PADDLE_ENVIRONMENT=production
RECAPTCHA_SITE_KEY=
LDAP_ENABLED=false